Die <span title="1 Silve = 8 Stunden">Silven</span> vergehen.
Du verbringst deine Zeit meist {{#if flag.sozial}}mit dem Spiel der Reize{{else}}{{#if flag.aggressiv}}mit dem Reiz des Kampfes{{else}} zurückgezogen{{/if}}{{/if}}.

Als dein Leib das subadulte Stadium erreicht, öffnet sich der Zugang, und du verlässt die Brutkammer.
Deine Fühler tasten, deine Gliedmaßen tragen dich hinaus.
Du berührst den Boden außerhalb.
Pulsierend, lebendig, warm.
Er ist bedeckt von feuchten Membranen, durchzogen von Adern aus Biomasse.
Er atmet unter dir.

Deine Wahrnehmung explodiert.
Wurmfortsätze, fein wie Haar, umgeben dich.
Sie bewegen sich, sie riechen, sie schmecken, sie hören.
Ein Rhythmus, ein Takt.
Viele hunderte Herzen schlagen wie eines.
Um dich herum riesige Bauwerke und Maschinenkomplexe, alles durchzogen mit der Membran, den Adern.

Die ersten <span title="1 Vesh = 2 Minuten">Vesh</span> vergehen, du versuchst dich an die Flut von Informationen zu gewöhnen.
Das Wissen kommt nicht als Gedanke, sondern als Gewissheit.
Du bist in _Vermass_, dem Knotenpunkt, dem Puls der Myrriden.
Du bist ein Myrride.
Die Schritte, dumpf, schwer, die den Boden zittern lassen: _Drelmiden_ — geschaffen, um gelenkt zu werden.
Du weißt es. Du weißt es, weil der Boden es dir gibt.

Du bist Teil.
Teil des Schwarms, Teil des Willens.
Teil des Hungers.

Du öffnest dich weiter, fühlst in alle Richtungen.
Alles strömt zu dir, alles wird eins.

Wir vermehren uns.
Wir expandieren.
Wir gehorchen.
Wir überleben, indem wir nehmen.
Wir nehmen Körper, nehmen Willen.
Wir geben ihnen ihr Bewusstsein zurück, Tropfen für Tropfen, bis sie uns lieben.
Bis sie nichts mehr wollen, als uns tragen.
Bis sie freiwillig unsere Sporen nähren.
Bis ihre Schmerzen Teil unseres Wachstums sind.

Und du bist Teil davon.
Jetzt.

Du spürst, wie Vermass dir eine Richtung vorgibt.