{{#if chosen.intro02_folgen}}
Du folgst auf direktem Weg dem Willen des Schwarms.
{{else}}
{{#if chosen.intro02_abwägen}}
Du lässt deine Sinne auf dem Weg in alle Richtungen streifen. Dir fällt auf, dass sich alle Myrriden, die du um dich herum spürst, absolut zielgericht bewegen.
{{else}}
Du fragst unbedacht in das Schwarmbewusstsein hinein:

"Warum soll ich dort entlang?"

Das war offenbar ein Fehler.
Du spürst wie sich das sonst willkommene, gleichmäßige Pulsieren des Schwarmbewusstseins für einige <span title="1 Nerth = 3 Sekunden">Nerth</span> anfühlt wie ein Bienenschwarm
{{#if flag.ängstlich}}
Du bekommst Angst und verwirfst den Gedanken schnell.
{{else}}
{{#if flag.aggressiv}}
Wütend schiebst du den Gedanken beiseite.
{{else}}
Die soziale Ablehnung tut weh. Schnell revidierst du deine Frage.
{{/if}}{{/if}}
Du akzeptierst den Willen des Schwarms und machst dich auf den Weg.
{{/if}}{{/if}}
Nicht weit entfernt siehst du eine, von vielen Myrriden frequentierte, Struktur, mit einer Art lebendiger Röhre im Zentrum.
Als du den dicken Strang erreichst, der sich vor dir hebt und senkt, gleichmäßig, pulsierend, verrät dir das Schwarmbewusstsein ohne Worte, was du siehst:
ein Vesculor-Strang.
Transportorgan des Schwarms. Verbindung in und zwischen den Knotenpunkten.
Die Intention des Schwarms ist klar: Steig ein.