{{#if chosen.intro02_folgen}}
**Du folgst auf direktem Weg dem Willen des Schwarms.**
{{else}}
{{#if chosen.intro02_abwägen}}
_**Du lässt deine Sinne auf dem Weg in alle Richtungen streifen.**_ Dir fällt auf, dass sich alle Myrriden, die du um dich herum spürst, **absolut zielgerichtet** bewegen.
{{else}}
Du fragst unbedacht in das Schwarmbewusstsein hinein:

_"Warum soll ich dort entlang?"_

Das war offenbar ein Fehler.
Du spürst, wie sich das sonst willkommene, gleichmäßige Pulsieren des Schwarmbewusstseins für einige <span title="1 Nerth = 3 Sekunden">Nerth</span> anfühlt wie ein Bienenschwarm,
{{#if mindset.ängstlich}}
_**Du bekommst Angst und verwirfst den Gedanken schnell.**_
{{else}}
{{#if mindset.aggressiv}}
**Wütend schiebst du den Gedanken beiseite.**
{{else}}
Die soziale Ablehnung tut weh. **Schnell revidierst du deine Frage.**
{{/if}}{{/if}}
Du akzeptierst den Willen des Schwarms und machst dich auf den Weg.
{{/if}}{{/if}}
Nicht weit entfernt siehst du eine von vielen Myrriden frequentierte Struktur, mit einer Art lebendiger Röhre im Zentrum.
Als du den dicken Strang erreichst, der sich vor dir hebt und senkt, **gleichmäßig, pulsierend**, verrät dir das Schwarmbewusstsein ohne Worte, was du siehst:
ein **Vesculor-Strang**.
_Transportorgan des Schwarms. Verbindung in und zwischen den Knotenpunkten._
Die Intention des Schwarms ist klar: **Steig ein.**