Du hältst es nicht mehr aus.
Auch wenn das Schwarmbewusstsein dich dazu drängt, weiterhin in dieser Masse aus Fleisch und Nerven zu verharren.
Vor gerade einmal ein paar <span title="1 Vesh = 2 Minuten">Vesh</span> kanntest du nichts anderes als die Brutkammer.
Mit einem kräftigen Stromimpuls durch das Nervensystem des Strangs öffnest du die engen Zugänge, drängst dich nach draußen.

{{#if chosen.intro02_fragen}} Du spürst den Bienenschwarm wieder in deinem Bewusstsein, während du fällst.
{{else}} Das Schwarmbewusstsein reagiert wie ein aufgescheuchter Bienenschwarm auf dein eigenmächtiges Handeln. Du fällst.{{/if}}

Als du schließlich auf dem weichen Boden landest und deine Umgebung wahrnehmen kannst, siehst du neben dir eine Struktur, voll von hunderten, wenn nicht tausend Körpern.
Alles, was der Schwarm verschlungen, genutzt und entsorgt hat. Die meisten dieser Körper stammen sicher aus der Zucht, ihr ganzes Leben verbrachten sie entweder unter dem Einfluss eines Myrriden oder waren gefangen.
Du weißt, dass dies nun mal das Wesen deiner Spezies ist, aber... ist es auch richtig?
